body {background-color: rgb(16, 31, 230);
}
.p3 {border-color: rgb(0, 56, 211);
border-width: 5px;
border-style: double;

}

.p4 {border-color: rgb(5, 19, 56);
    border-width: 5px;
    border-style: double;
    }