@media only screen and (max-width: 600px) {


    body {background-color: rgb(92, 111, 153);}
    }
    .p1 {text-align: center;
    font-size: 130%;
    color: rgb(243, 222, 222);
    border-color: rgb(255, 255, 255);
    border-width: 8px;
    border-style: double;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 1%;
    padding-top: 3%;
    background-color: rgb(42, 20, 63);
    
    }
     
    .p2 {text-align: center;
    color: aliceblue;
    font-size: 100%;
    border-color: rgb(255, 255, 255);
    border-width: 8px;
    border-style: double;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3%;
    background-color: rgb(77, 63, 155);
    
    
    
    }
    
    .p3 {text-align: center;
        color: aliceblue;
        font-size: 80%;
        border-color: rgb(255, 255, 255);
        border-width: 3px;
        border-style: inset;
        margin-left: 30%;
        margin-right: 50%;
        padding-top: 2%;
        background-color: rgb(90, 52, 126);}
    
        .p4 {text-align: center;
            color: aliceblue;
            font-size: 120%;
            border-color: rgb(255, 255, 255);
            border-width: 3px;
            border-style: inherit;
            margin-left: 60%;
            margin-right: 20%;
            padding-top: 2%;
            background-color: rgb(16, 97, 145);}
            
    
    .p5 {text-align: center;
        color: aliceblue;
        font-size: 120%;
        border-color: rgb(255, 255, 255);
        border-width: 3px;
        border-style: double;
        margin-left: 10%;
        margin-right: 70%;
        padding-top: 2%;
        background-color: rgb(150, 58, 243);}
    
    
        .p6 {text-align: center;
            color: aliceblue;
            font-size: 120%;
            border-color: rgb(255, 255, 255);
            border-width: 3px;
            border-style: dashed;
            margin-left: 60%;
            margin-right: 20%;
            padding-top: 2%;
            background-color: rgb(47, 20, 73);}
    
            .p7 {text-align: center;
                color: aliceblue;
                font-size: 120%;
                border-color: rgb(255, 255, 255);
                border-width: 3px;
                border-style: double;
                margin-left: 20%;
                margin-right: 60%;
                padding-top: 2%;
                background-color: rgb(71, 60, 163);}

                .p8 {text-align: center;
                    color: aliceblue;
                    font-size: 120%;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    border-color: rgb(255, 255, 255);
                    border-width: 3px;
                    border-style: double;
                    margin-left: 50%;
                    margin-right:32%;
                    padding-top: 1%;
                    background-color: rgb(113, 103, 228);}

        .p9 {text-align: center;
         color: aliceblue;
         font-size: 120%;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         border-color: rgb(255, 255, 255);
         border-width: 3px;
         border-style: double;
         margin-left: 15%;
         margin-right:60%;
         padding-top: 2%;
         background-color: rgb(64, 57, 136);}

         .p10 {text-align: center;
            color: aliceblue;
            font-size: 120%;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            border-color: rgb(255, 255, 255);
            border-width: 3px;
            border-style: double;
            margin-left: 55%;
            margin-right:20%;
            padding-top: 2%;
            background-color: rgb(47, 139, 116);}
               
            
        
        